body{
    background: linear-gradient(0deg, rgb(101, 233, 228) , rgba(121,32,153,1) );
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif; 
}

form{
    width:400px;
    margin:10vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding:30px;
}

h1{
    text-align: center;
    color:green;
}

#form button{
    background-color:red;
    color:white;
    border-radius: 5px;
    padding:10px;
    margin:20px 90px;
    cursor:pointer;
    font-size:20px;
    width:50%;
    text-align: center;
}

#input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

#input-group #error{
    color:rgb(242, 18, 18);
    font-size:14px;
    margin-top: 5px;
    text-align: center;
}

#input-group.success input{
    border-color: #0cc477;
}

#input-group.error input{
    border-color:rgb(206, 67, 67);
}       